@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  background: #f8f8f86b;
  margin-top: 24px;
  font-family: -apple-system, Orbit-Regular, sans-serif;
}
.ql-editor {
  min-height: 40rem;
}

.action.action--ADD-GROUP {
  display : none
} 

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@font-face {
  font-family: "DoHyeon";
  font-weight: 200;
  src: url("/fonts/DoHyeon-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Orbit-Regular';
  src: url('/fonts/Orbit-Regular') format('woff2');
  font-weight: normal;
  font-style: normal;
}